<div class="subtitulo1" >
    <br><br>
    <p>Iniciar Sesion</p>
    <br><br>
</div>
<div class="Centrado-texto">
    <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombres">
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña">
      </mat-form-field>
</div>
<div class="boton-register">
    <p>
      <a mat-raised-button [routerLink]="['/','inicio']" style="padding-left: 80px;padding-right:80px;background-color:rgb(10, 194, 149);">Iniciar Sesion</a>
    </p>
  </div>
