<div class="subtitulo1" >
    <br><br>
    <p>Registrar una cuenta</p>
    <br><br>
</div>
<div class="Centrado-texto">
    <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombres">
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña">
      </mat-form-field>
      <br>    
      <mat-form-field >
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Correo">
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>Numero</mat-label>
        <input matInput placeholder="Numero">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Direccion">
      </mat-form-field>
</div>
<div class="boton-register">
    <p>
      <a mat-raised-button [routerLink]="['/','login']" style="padding-left: 80px;padding-right:80px;background-color:rgb(10, 194, 149);">Registrarse</a>
    </p>
  </div>
    
