<div class="Centrado">
    <img src="./assets/Fi-Things-v1.png" alt="Logo de la empresa" width="120px">
  </div>
  
  <div class="subtitulo1">
    <p>Olvidate de perder el tiempo en largas busquedas de tus objetos personales</p>
    <br><br><br><br><br>
  </div>

  <div class="boton-planes">
    <p>
      <a mat-raised-button [routerLink]="['/','planes']" style="padding-left: 80px;padding-right:80px;background-color:rgb(10, 194, 149);">Ver Planes</a>
    </p>
  </div>
  <br>
  <div class="subtitulo1" >
    <p>Caracteristicas Principales</p>
  </div>

  <div class="cuadro-caracteristica">
    <mat-card class="card-caracteristicas-estilo">
      <a class="cuadro-caracteristica" >Caracteristicas #1:</a>
      <a class="cuadro-caracteristica" >Puedes vincular objetos a tu cuenta para no perderlos más</a>
    </mat-card>
      <img src="./assets/Enlace.png" alt="Imagen Enlace" style="padding-right:40px;">
  </div>
<br>
  <div class="cuadro-caracteristica">
    <img src="./assets/Alarma.png" alt="Imagen Enlace" style="padding-left:40px;">
    <mat-card class="card-caracteristicas-estilo">
      <a class="cuadro-caracteristica" >Caracteristicas #2:</a>
      <a class="cuadro-caracteristica" >Puedes asginar una alarma a tus objetos para advertirte de su lejania.</a>
    </mat-card>
  </div>
  <br>
  <div class="cuadro-caracteristica">
    <mat-card class="card-caracteristicas-estilo">
      <a class="cuadro-caracteristica" >Caracteristicas #3:</a>
      <a class="cuadro-caracteristica" >Conocer la distancia a la que se encuentra de su objeto vinculado</a>
    </mat-card>
      <img src="./assets/Distancia.png" alt="Imagen Enlace" style="padding-right:40px;">
  </div>
  <br><br><br><br>
  <div class="footer1" >
    <p>© 2022 GLACG</p>
    <br>
  </div>
