<div class="subtitulo1" >
    <br><br>
    <p>Planes</p>
    <br><br>
  </div>
  <br>
  <div class="row">
    <mat-card class="card-planes-estilo">
      <br>
      <img src="./assets/BoxSimple-v1.png" alt="Imagen Box" style="zoom:100%;">
      <p class="Centrado-texto">Miembro</p>
      <p class="Centrado-texto">15.00 PEN/MES</p>
      <p>
        <a mat-raised-button [routerLink]="['/','home']" style="padding-left: 100px;padding-right:100px;background-color:rgb(10, 194, 149);">Adquirir Ya</a>
      </p>
      <p class="Centrado-texto">•	Vincula hasta 6 objetos</p>
      <p class="Centrado-texto">•	Hasta 4 alarmas al mismo tiempo</p>
    </mat-card>

    <mat-card class="card-planes-estilo">
      <br>
      <img src="./assets/BoxIconTriple.png" alt="Imagen Box" style="zoom:50%;">
      <br><br>
      <p class="Centrado-texto">Miembro +</p>
      <p class="Centrado-texto">19.00 PEN/MES</p>
      <p>
        <a mat-raised-button [routerLink]="['/','home']" style="padding-left: 100px;padding-right:100px;background-color:rgb(10, 194, 149);">Adquirir Ya</a>
      </p>
      <p class="Centrado-texto">•	Vincula hasta 10 objetos</p>
      <p class="Centrado-texto">•	Hasta 7 alarmas al mismo tiempo</p>
    </mat-card>

    <mat-card class="card-planes-estilo">
      <br>
      <img src="./assets/YearBox.png" alt="" style="zoom:125%;">
      <br><br><br>
      <p class="Centrado-texto">Miembro +</p>
      <p class="Centrado-texto">185.00 PEN/MES</p>
      <p>
        <a mat-raised-button [routerLink]="['/','home']" style="padding-left: 100px;padding-right:100px;background-color:rgb(10, 194, 149);">Adquirir Ya</a>
      </p>
      <p class="Centrado-texto">•	Vincula hasta 10 objetos</p>
      <p class="Centrado-texto">•	Hasta 7 alarmas al mismo tiempo</p>
    </mat-card>
  </div>

  
  <br><br>
  <div class="footer1" >
    <p>© 2022 GLACG</p>
  </div>
