/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image:url(https://img.freepik.com/vector-gratis/curva-azul-ombre-sobre-fondo-azul-claro_53876-113099.jpg?w=2000);
    ;flex-direction: row;
    align-items: center;
    white-space: nowrap;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
